* {
  background-color: rgb(194, 220, 194);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: rgb(27, 24, 24);
  padding: 30px 100px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
}

#title {
  text-decoration: underline;
}

#made-by-text {
  font-size: 35px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#board {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  height: 800px;
}

.screen {
  background-color: rgb(177, 206, 219);
  border: 4px solid black;
  flex: 0 0 450px;
}

#human-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  align-items: center;
  justify-content: flex-start;
}

#computer-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  align-items: center;
  justify-content: flex-start;
}

.buttons-box {
  background-color: transparent;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

#score-display {
  background-color: rgb(169, 149, 111);
  flex: 0 0 300px;
  border: 4px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#human-title {
  background-color: rgb(55, 92, 157);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  font-size: 30px;
  font-weight: bold;
}

#computer-title {
  background-color: rgb(55, 92, 157);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  font-size: 30px;
  font-weight: bold;
}

#score-title {
  background-color: rgb(88, 83, 80);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  font-size: 30px;
  font-weight: bold;
}

.button {
  background-color: rgb(80, 80, 134);
  font-size: 30px;
  padding: 20px 20px;
  margin-top: 90px;
  font-weight: bold;
}

.score-text {
  background-color: transparent;
  font-size: 35px;
  font-weight: bold;
}

#score-human-text {
  margin-top: 140px;
}

output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 120px;
  box-sizing: border-box;
  padding: 50px 50px;
  font-size: 60px;
  border: 3px solid black;
}

.play {
  background-color: transparent;
  font-size: 100px;
  margin-top: 70px;
}

.result {
  background-color: transparent;
  font-size: 100px;
  margin-top: 70px;
}
