html {
  font-size: 6px;
}

* {
  background-color: rgb(194, 220, 194);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: rgb(27, 24, 24);
  padding: 3.75rem 12.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
  font-size: 6.25rem;
  font-weight: bold;
}

#title {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#board {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 5rem;
  height: 100rem;
}

.screen {
  background-color: rgb(177, 206, 219);
  border: 0.5rem solid black;
  flex: 0 0 56.25rem;
}

#human-screen,
#computer-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 18.75rem;
  align-items: center;
  justify-content: flex-start;
}

.buttons-box {
  background-color: transparent;
  position: relative;
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: center;
}

#score-display {
  background-color: rgb(169, 149, 111);
  flex: 0 0 37.5rem;
  border: 0.5rem solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#human-title,
#computer-title,
#score-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  font-size: 3.75rem;
  font-weight: bold;
}

#human-title,
#computer-title {
  background-color: rgb(55, 92, 157);
}

#score-title {
  background-color: rgb(88, 83, 80);
}

.button {
  background-color: rgb(80, 80, 134);
  font-size: 3.75rem;
  padding: 2.5rem 2.5rem;
  margin-top: 11.25rem;
  font-weight: bold;
}

.score-text {
  background-color: transparent;
  font-size: 4.375rem;
  font-weight: bold;
}

#score-human-text {
  margin-top: 17.5rem;
}

output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 15rem;
  box-sizing: border-box;
  padding: 6.25rem 6.25rem;
  font-size: 7.5rem;
  border: 0.375rem solid black;
}

.play {
  background-color: transparent;
  font-size: 12.5rem;
  margin-top: 8.75rem;
  font-weight: bold;
}

.result {
  background-color: transparent;
  font-size: 16.25rem;
  margin-top: 8.75rem;
  color: rgb(51, 105, 51);
  font-weight: bold;
}

#creator {
  margin-top: 6rem;
  font-size: 3rem;
  color: #132020;
  text-align: center;
}

#creator a {
  color: #132020;
  text-decoration: none;
}

#creator a:hover {
  text-decoration: underline;
}
