html {
  font-size: 16px;
}

body {
  background-color: rgb(194, 220, 194);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 12rem;
  pointer-events: none;
}

.App-header {
  color: rgb(27, 24, 24);
  padding: 1.125rem 3.75rem;
  max-width: 27.75rem;
  margin: 0 auto;
  font-size: 1.875rem;
  font-weight: bold;
}

#title {
  text-decoration: underline;
}

.buttons-box {
  background-color: transparent;
  position: relative;
  display: flex;
  gap: 0.375rem;
  align-items: flex-start;
  justify-content: center;
  margin-top: -3.6rem;
  margin-bottom: 1.5rem;
}

.button {
  background-color: rgb(126, 168, 196);
  font-size: 1.125rem;
  padding: 0.3rem 0.3rem;
  margin-top: 3.375rem;
  font-weight: bold;
  cursor: pointer;
}

output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 1.875rem;
  font-size: 2.25rem;
  border: 0.1125rem solid black;
}

#creator {
  margin-top: 1.8rem;
  font-size: 0.9rem;
  color: #132020;
  text-align: center;
}

/* Icons */

.icon {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
}

/* Text before buttons */

.text-to-play {
  font-size: 1.05rem;
  margin-top: -1.5rem;
}
